
.ipf-tabledrag-header {
  border-right: none;
}

.ipf-sort-order-header {
  border-left: none;
}

.ipf-product-header {
  border-left: none;
}

.ipf-product-attributes .fieldset-wrapper > div {
  margin-right: 20px;
}

.ipf-product-details .field-type-commerce-price .form-item {
  margin-right: 15px;
}

.ipf-tabledrag-handle {
  width: 20px;
  padding-right: 0;
}

.ipf-tabledrag-handle a.tabledrag-handle {
  padding-right: .5em;
}
